body {
  background-image: url(./image/space-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: lighter;
  line-height: 1.6;
}
h1, h2, h3, a, p {
  color: white;
  font-family: 'Press Start 2P', cursive;
}
h1 {
  font-size: 24px !important;
}
h2 {
  font-size: 12px !important;
  padding-bottom: 20px;
}
p {
  font-size: 10px;
  padding-top: 30px;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
}

.card-808 {
  width: 500px;
  margin: 150px auto;
  padding: 50px;
  background-color: transparent;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
}
.button {
  background-color: transparent;
  color: white;
  padding: 12px 15px;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 10px;
  text-decoration: none;
}
.button:hover {
  background-image: linear-gradient(to bottom right, #030A37, #13506E);
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 30px;
  color: white;
}
.list-inline i:hover {
  color: #030A37;
}

.flier {
	pointer-events: none;
}

.flier > * {
      animation: fly 50s linear infinite;
      pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: -10s;
	z-index: 999999;
}

.flier1 > * {
          animation: fly1 80s linear infinite;
          pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-200%) rotateZ(0);
    position: fixed;
    animation-delay: 8s;
    z-index: 999999;
  }

.flier2 > * {
      animation: fly2 100s linear infinite;
      pointer-events: none !important;
  top: 0;
  left: 0;
  transform: translateX(-200%) translateY(-160%) rotateZ(0);
  position: fixed;
  animation-delay: 3s;
  z-index: 999999;
}

 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {
	98.001%, 0% {
    display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {transform: translateX(100vw) translateY(-100%) rotateZ(180deg)}

	15.001%, 18% {transform: translateX(100vw) translateY(-30%) rotateZ(0deg)}

	40% {transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}

@keyframes fly1 {
	98.001%, 0% {
    display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(520deg)
	}

	15% {transform: translateX(100vw) translateY(-100%) rotateZ(180deg)}

	15.001%, 18% {transform: translateX(100vw) translateY(-30%) rotateZ(90deg)}

	45% {transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)}

	55.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)}

	75% {
		transform: translateX(100vw) translateY(50vh) rotateZ(30deg)}

	75.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(360deg)
	}
}

@keyframes fly2 {
	98.001%, 0% {
    display: block;
    transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	15% {transform: translateX(100vw) translateY(-100%) rotateZ(180deg)}

	15.001%, 18% {transform: translateX(100vw) translateY(-30%) rotateZ(90deg)}

	40% {transform: translateX(10vw) translateY(100vh) rotateZ(-360deg)}

	40.001%, 43% {
    transform: translateX(-200%) translateY(100vh) rotateZ(-180deg)}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(-520deg)}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)}

	95% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}
}


@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .card-808 {
    width: 350px;
    margin: 50px auto;
  }
  .buttons {
    flex-direction: column;
  }
  .button {
    margin-top: 10px;
  }
}

